* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
:root {
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}



.wrapper {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-image: url("/bgw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.login-box {
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
}
.login-header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}
.login-header span {
    font-size: 30px;
    color: #ffffff;
}
.login-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}
.login-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}
.input-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}
#mb {
    margin-bottom: 10px;
}
.label {
    position: absolute;
    top: -28px;
    left: 20px;
    transition: 0.2s;
}
.input-field:focus~.label,
.input-field:valid .label {
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
.icon {
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.input-submit {
    width: 100%;
    height: 50px;
    background: #c6c3c3;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}
.input-submit:hover {
    background: rgba(165, 165, 165, 0.1);
}
.register {
    text-align: center;
}
.register a {
    font-weight: 500;
}
@media only screen and (max-width: 564px) {
    .wrapper {
        padding: 20px;
    }
    .login_box {
        padding: 7.5em 1.5em 4em 1.5em;
    }
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon.blinking {
    animation: blink 1s infinite;
}

.text-green{
    color: #0da100;
}






    /* -- YouTube Link Styles -- */

    #source-link {
        top: 60px;
      }
  
      #source-link>i {
        color: rgb(94, 106, 210);
      }
  
      #yt-link {
        top: 10px;
      }
  
      #yt-link>i {
        color: rgb(219, 31, 106);
  
      }
  
      .meta-link {
        align-items: center;
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 6px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        display: inline-flex;
        gap: 5px;
        left: 10px;
        padding: 10px 20px;
        position: fixed;
        text-decoration: none;
        transition: background-color 600ms, border-color 600ms;
        z-index: 10000;
      }
  
      .meta-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
  
      .meta-link>i,
      .meta-link>span {
        height: 20px;
        line-height: 20px;
      }
  
      .meta-link>span {
        color: black;
        font-family: "Rubik", sans-serif;
        transition: color 600ms;
      }

      .blr{
        backdrop-filter: blur(25px);
      }

      .tsd {
        text-shadow: 0 0 40px #0da100, 0 0 40px #ffffff;
      }

      .bnr {
        background-image: url("/homebg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

    .bnr::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4); /* Adjust the alpha value to control darkness */
        border-radius: 10px;
    }


.bnrs1 {
    background-image: url("/bgphoto.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}


.bnrs2 {
    background-image: url("/bgw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}


.bnrs3 {
    background-image: url("/room.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.tailban {
    position: relative;
    background-image: url("/bgphoto.jpg");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    font-family: fantasy;
    overflow: hidden;
}

/* Add a dark overlay */
.tailban::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Add a blur effect */
.tailban::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/bgw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    filter: blur(5px);
    z-index: -1; /* Move the blurred background behind the text */
}

/* Your existing styles for the text */
.tailban h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: xl;
    font-weight: bold;
    color: #a7a7a793;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
     /* Adjust the text color as needed */
}

.toast-messagee{
    width: 150px;
    height: 40px;
    background: #1a1a1a;
    color: #ffffff;
}

/* RoomCard.css */
.fade-ef {
    opacity: 0;
    animation: fadeIn 0.9s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  







